<md-card class="card">
  <md-card-header color="primary">
    <button color="primary" md-button (click)="setEnglishQuestions()">English</button>
    <button color="primary" md-button (click)="setSpanishQuestions()">Spanish</button>
  </md-card-header>
  <md-card-content class="card-content">
    <h3 *ngIf='question'>{{question.Question | uppercase}}</h3>
  </md-card-content>
  <img class="image-center" src="./assets/usa.jpg">
  <div style="text-align: center ">
    <md-card-actions align="center">
      <button class="medium-button" md-raised-button (click)="getPrevQuestion()">PREV</button>
      <button class="medium-button" md-raised-button color="primary" (click)="openDialog()">Answer</button>
      <button class="medium-button" md-raised-button (click)="getNextQuestion()">NEXT</button>
    </md-card-actions>
  </div>
</md-card>
